ui/Rentoolo/Connected Services/DPDCalc/calculator2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://dpd.ru/ws/calculator/2012-03-20" targetNamespace="http://dpd.ru/ws/calculator/2012-03-20" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ServiceCostFault" type="tns:ServiceCostFault" />
  <xs:element name="ServiceCostFault2" type="tns:ServiceCostFault2" />
  <xs:element name="getServiceCost" type="tns:getServiceCost" />
  <xs:element name="getServiceCost2" type="tns:getServiceCost2" />
  <xs:element name="getServiceCost2Response" type="tns:getServiceCost2Response" />
  <xs:element name="getServiceCostByParcels" type="tns:getServiceCostByParcels" />
  <xs:element name="getServiceCostByParcels2" type="tns:getServiceCostByParcels2" />
  <xs:element name="getServiceCostByParcels2Response" type="tns:getServiceCostByParcels2Response" />
  <xs:element name="getServiceCostByParcelsResponse" type="tns:getServiceCostByParcelsResponse" />
  <xs:element name="getServiceCostInternational" type="tns:getServiceCostInternational" />
  <xs:element name="getServiceCostInternationalResponse" type="tns:getServiceCostInternationalResponse" />
  <xs:element name="getServiceCostResponse" type="tns:getServiceCostResponse" />
  <xs:complexType name="getServiceCostByParcels2">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:serviceCostParcelsRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serviceCostParcelsRequest">
    <xs:sequence>
      <xs:element name="auth" type="tns:auth" />
      <xs:element name="pickup" type="tns:cityRequest" />
      <xs:element name="delivery" type="tns:cityRequest" />
      <xs:element name="selfPickup" type="xs:boolean" />
      <xs:element name="selfDelivery" type="xs:boolean" />
      <xs:element minOccurs="0" name="serviceCode" type="xs:string" />
      <xs:element minOccurs="0" name="pickupDate" type="xs:date" />
      <xs:element minOccurs="0" name="maxDays" type="xs:int" />
      <xs:element minOccurs="0" name="maxCost" type="xs:double" />
      <xs:element minOccurs="0" name="declaredValue" type="xs:double" />
      <xs:element maxOccurs="unbounded" name="parcel" type="tns:parcelRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="auth">
    <xs:sequence>
      <xs:element name="clientNumber" type="xs:long" />
      <xs:element name="clientKey" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cityRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="cityId" type="xs:long" />
      <xs:element minOccurs="0" name="index" type="xs:string" />
      <xs:element minOccurs="0" name="cityName" type="xs:string" />
      <xs:element minOccurs="0" name="regionCode" type="xs:int" />
      <xs:element minOccurs="0" name="countryCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parcelRequest">
    <xs:sequence>
      <xs:element name="weight" type="xs:double" />
      <xs:element name="length" type="xs:double" />
      <xs:element name="width" type="xs:double" />
      <xs:element name="height" type="xs:double" />
      <xs:element minOccurs="0" default="1" name="quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getServiceCostByParcels2Response">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:serviceCost" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serviceCost">
    <xs:sequence>
      <xs:element minOccurs="0" name="serviceCode" type="xs:string" />
      <xs:element minOccurs="0" name="serviceName" type="xs:string" />
      <xs:element minOccurs="0" name="cost" type="xs:double" />
      <xs:element minOccurs="0" name="days" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceCostFault2">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="deliveryDups" nillable="true" type="tns:cityIndex" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pickupDups" nillable="true" type="tns:cityIndex" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cityIndex">
    <xs:sequence>
      <xs:element minOccurs="0" name="cityId" type="xs:long" />
      <xs:element minOccurs="0" name="countryCode" type="xs:string" />
      <xs:element minOccurs="0" name="countryName" type="xs:string" />
      <xs:element minOccurs="0" name="regionCode" type="xs:int" />
      <xs:element minOccurs="0" name="regionName" type="xs:string" />
      <xs:element minOccurs="0" name="cityCode" type="xs:string" />
      <xs:element minOccurs="0" name="cityName" type="xs:string" />
      <xs:element minOccurs="0" name="abbreviation" type="xs:string" />
      <xs:element minOccurs="0" name="indexMin" type="xs:string" />
      <xs:element minOccurs="0" name="indexMax" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getServiceCost2">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:serviceCostRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serviceCostRequest">
    <xs:sequence>
      <xs:element name="auth" type="tns:auth" />
      <xs:element name="pickup" type="tns:cityRequest" />
      <xs:element name="delivery" type="tns:cityRequest" />
      <xs:element name="selfPickup" type="xs:boolean" />
      <xs:element name="selfDelivery" type="xs:boolean" />
      <xs:element name="weight" type="xs:double" />
      <xs:element minOccurs="0" name="volume" type="xs:double" />
      <xs:element minOccurs="0" name="serviceCode" type="xs:string" />
      <xs:element minOccurs="0" name="pickupDate" type="xs:date" />
      <xs:element minOccurs="0" name="maxDays" type="xs:int" />
      <xs:element minOccurs="0" name="maxCost" type="xs:double" />
      <xs:element minOccurs="0" name="declaredValue" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getServiceCost2Response">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:serviceCost" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getServiceCostInternational">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:serviceCostInternationalRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serviceCostInternationalRequest">
    <xs:sequence>
      <xs:element name="auth" type="tns:auth" />
      <xs:element name="pickup" type="tns:cityInternationalRequest" />
      <xs:element name="delivery" type="tns:cityInternationalRequest" />
      <xs:element name="selfPickup" type="xs:boolean" />
      <xs:element name="selfDelivery" type="xs:boolean" />
      <xs:element name="weight" type="xs:double" />
      <xs:element name="length" type="xs:long" />
      <xs:element name="width" type="xs:long" />
      <xs:element name="height" type="xs:long" />
      <xs:element minOccurs="0" name="declaredValue" type="xs:double" />
      <xs:element minOccurs="0" name="insurance" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cityInternationalRequest">
    <xs:sequence>
      <xs:element name="countryName" type="xs:string" />
      <xs:element minOccurs="0" name="cityName" type="xs:string" />
      <xs:element minOccurs="0" name="cityId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getServiceCostInternationalResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:serviceCostInternational" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serviceCostInternational">
    <xs:sequence>
      <xs:element minOccurs="0" name="serviceCode" type="xs:string" />
      <xs:element minOccurs="0" name="serviceName" type="xs:string" />
      <xs:element minOccurs="0" name="days" type="xs:string" />
      <xs:element minOccurs="0" name="cost" type="xs:double" />
      <xs:element minOccurs="0" name="costPin" type="xs:double" />
      <xs:element minOccurs="0" name="weight" type="xs:double" />
      <xs:element minOccurs="0" name="volume" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceCostFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="deliveryDups" nillable="true" type="tns:city" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pickupDups" nillable="true" type="tns:city" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="city">
    <xs:sequence>
      <xs:element minOccurs="0" name="cityId" type="xs:long" />
      <xs:element minOccurs="0" name="countryCode" type="xs:string" />
      <xs:element minOccurs="0" name="countryName" type="xs:string" />
      <xs:element minOccurs="0" name="regionCode" type="xs:int" />
      <xs:element minOccurs="0" name="regionName" type="xs:string" />
      <xs:element minOccurs="0" name="cityName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getServiceCostByParcels">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:serviceCostParcelsRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getServiceCostByParcelsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:serviceCost" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getServiceCost">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:serviceCostRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getServiceCostResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:serviceCost" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>