ui/Rentoolo/Connected Services/DPDCalc/DPDCalculatorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://dpd.ru/ws/calculator/2012-03-20" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="DPDCalculatorService" targetNamespace="http://dpd.ru/ws/calculator/2012-03-20" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://ws.dpd.ru:80/services/calculator2?xsd=1" namespace="http://dpd.ru/ws/calculator/2012-03-20" />
    </xsd:schema>
  </types>
  <message name="getServiceCostByParcels">
    <part name="parameters" element="tns:getServiceCostByParcels" />
  </message>
  <message name="getServiceCostByParcelsResponse">
    <part name="parameters" element="tns:getServiceCostByParcelsResponse" />
  </message>
  <message name="ServiceCostFault">
    <part name="fault" element="tns:ServiceCostFault" />
  </message>
  <message name="getServiceCostByParcels2">
    <part name="parameters" element="tns:getServiceCostByParcels2" />
  </message>
  <message name="getServiceCostByParcels2Response">
    <part name="parameters" element="tns:getServiceCostByParcels2Response" />
  </message>
  <message name="ServiceCostFault2">
    <part name="fault" element="tns:ServiceCostFault2" />
  </message>
  <message name="getServiceCostInternational">
    <part name="parameters" element="tns:getServiceCostInternational" />
  </message>
  <message name="getServiceCostInternationalResponse">
    <part name="parameters" element="tns:getServiceCostInternationalResponse" />
  </message>
  <message name="getServiceCost">
    <part name="parameters" element="tns:getServiceCost" />
  </message>
  <message name="getServiceCostResponse">
    <part name="parameters" element="tns:getServiceCostResponse" />
  </message>
  <message name="getServiceCost2">
    <part name="parameters" element="tns:getServiceCost2" />
  </message>
  <message name="getServiceCost2Response">
    <part name="parameters" element="tns:getServiceCost2Response" />
  </message>
  <portType name="DPDCalculator">
    <operation name="getServiceCostByParcels">
      <input wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCostByParcelsRequest" message="tns:getServiceCostByParcels" />
      <output wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCostByParcelsResponse" message="tns:getServiceCostByParcelsResponse" />
      <fault wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCostByParcels/Fault/ServiceCostFault" name="ServiceCostFault" message="tns:ServiceCostFault" />
    </operation>
    <operation name="getServiceCostByParcels2">
      <input wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCostByParcels2Request" message="tns:getServiceCostByParcels2" />
      <output wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCostByParcels2Response" message="tns:getServiceCostByParcels2Response" />
      <fault wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCostByParcels2/Fault/ServiceCostFault2" name="ServiceCostFault2" message="tns:ServiceCostFault2" />
    </operation>
    <operation name="getServiceCostInternational">
      <input wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCostInternationalRequest" message="tns:getServiceCostInternational" />
      <output wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCostInternationalResponse" message="tns:getServiceCostInternationalResponse" />
      <fault wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCostInternational/Fault/ServiceCostFault" name="ServiceCostFault" message="tns:ServiceCostFault" />
    </operation>
    <operation name="getServiceCost">
      <input wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCostRequest" message="tns:getServiceCost" />
      <output wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCostResponse" message="tns:getServiceCostResponse" />
      <fault wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCost/Fault/ServiceCostFault" name="ServiceCostFault" message="tns:ServiceCostFault" />
    </operation>
    <operation name="getServiceCost2">
      <input wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCost2Request" message="tns:getServiceCost2" />
      <output wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCost2Response" message="tns:getServiceCost2Response" />
      <fault wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCost2/Fault/ServiceCostFault2" name="ServiceCostFault2" message="tns:ServiceCostFault2" />
    </operation>
  </portType>
  <binding name="DPDCalculatorPortBinding" type="tns:DPDCalculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getServiceCostByParcels">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ServiceCostFault">
        <soap:fault use="literal" name="ServiceCostFault" namespace="" />
      </fault>
    </operation>
    <operation name="getServiceCostByParcels2">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ServiceCostFault2">
        <soap:fault use="literal" name="ServiceCostFault2" namespace="" />
      </fault>
    </operation>
    <operation name="getServiceCostInternational">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ServiceCostFault">
        <soap:fault use="literal" name="ServiceCostFault" namespace="" />
      </fault>
    </operation>
    <operation name="getServiceCost">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ServiceCostFault">
        <soap:fault use="literal" name="ServiceCostFault" namespace="" />
      </fault>
    </operation>
    <operation name="getServiceCost2">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ServiceCostFault2">
        <soap:fault use="literal" name="ServiceCostFault2" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="DPDCalculatorService">
    <port name="DPDCalculatorPort" binding="tns:DPDCalculatorPortBinding">
      <soap:address location="http://ws.dpd.ru:80/services/calculator2" />
    </port>
  </service>
</definitions>